:root {
  --fuente-normal: tw-cen-mt-6;
  --fuente-gruesa: tw-cen-mt-bold;
  --color-principal-oscuro: #0d0941;
  --color-blanco: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente-normal);
}
html {
  scroll-behavior: smooth;
}
/*****Font Family*****/
@font-face {
  font-family: tw-cen-mt-6;
  src: url(../Fuentes/tw-cen-mt-6.ttf);
}
@font-face {
  font-family: tw-cen-mt-bold;
  src: url(../Fuentes/tw-cen-mt-bold.ttf);
}
/*****Font Family*****/
body {
  overflow-x: hidden;
}
/*************Header*************/
header {
  background: #5e52de;
}
div.header-esferica {
  background: rgb(107 96 226 / 71%);
  width: 100%;
  height: 7rem;
  border-radius: 0 0 100% 100%;
  position: relative;
  box-shadow: 0px 3px 80px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/**********Links-Header************/
ul.header__links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
ul.header__links li {
}
ul.header__links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  background: #5e4cd5;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  transition: 0.2s;
}
ul.header__links li a:hover {
  box-shadow: 0 0 8px 0 black;
  font-size: 40px;
  width: 180px;
  height: 55px;
}
a {
  color: white;
  text-decoration: none;
}
.a__resalte {
  width: 100px;
  height: 25px;
  background: #b0acd6;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
/**********Hero************/
.hero {
  display: table-cell;
  vertical-align: middle;
  background: #5e52de;
  width: 100vw;
  height: 90vh;
  padding: 0px 8vw 11vh 8vw;
  filter: blur(100%);
}
.grid-hero {
  display: grid;
  grid-template-columns: 40% 60%;
}
div.hero__quien-eres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.hero__quien-eres p,
div.hero__quien-eres span {
  text-shadow: 0px 0px 20px black;
  font-size: 54px;
  font-weight: bold;
  font-family: var(--fuente-gruesa);
  text-align: center;
  color: #ffffff;
}
div.hero__quien-eres span {
  font-family: var(--fuente-gruesa);
  color: rgba(255, 255, 255, 0.418);
}
div.contact {
  margin-top: 20px;
}
div.contact a {
  width: 170px;
  height: 40px;
  display: flex;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff;
  background: #0d0941;
  justify-content: center;
  align-items: center;
  box-shadow: inset -18px -12px 20px #22025a, inset 28px 25px 30px 0px #936bff,
    -20px -5px 50px 0px black;
  animation-name: contactar;
  animation-duration: 0.8s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(0.47, 0.88, 0.31, 0.66);
}
@keyframes contactar {
  0% {
  }
  100% {
    width: 190px;
    height: 50px;
  }
}
/*********Img-Hero*********/
div.img-hero {
  display: flex;
  justify-content: center;
}
div.img-hero img {
  position: relative;
  bottom: 30px;
  width: 35vw;
}
/*********Experiencia-Web*********/
main {
  width: 100vw;
  height: 120vh;
  background: #40329a50;
  padding: 50px 10% 0 10%;
}
div.experiencia-text {
}
div.main__experiencia-text p {
  font-size: 55px;
  font-family: var(--fuente-gruesa);
  text-align: right;
  width: 564px;
  margin-left: auto;
}
main div.main__contenedor-habilidades {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}
.fila {
  width: 100%;
  height: 180px;
  margin: 30px 0;
}
.fila p {
  font-family: var(--fuente-gruesa);
  font-size: 25px;
}
.habilidades {
  display: flex;
}
.habilidad {
  width: 110px;
  height: 115px;
  margin-top: 20px;
  background-size: 70%;
  background-position-x: center;
  background-position-y: center;
  box-shadow: 5px 7px 13px black, inset 3px 5px 20px 0px #ffffffd1;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 23px;
  cursor: pointer;
}
.habilidad:hover {
  filter: blur(2px);
}
.años-experiencia {
  display: flex;
}
.años-experiencia div.barra-de-progreso {
}
.años-experiencia div.years-months {
}
.años-experiencia div.years-months p {
  font-size: 20px;
}
/* Proyectos-Hechos */
div.proyectos-realizado {
  width: 100%;
  height: 100vh;
  background: #4432bf;
  padding: 2% 10%;
}
div.proyectos__titulo p {
  font-size: 70px;
  font-family: var(--fuente-gruesa);
  color: var(--color-blanco);
  text-align: center;
}
div.proyecto__lista {
}
div.proyecto {
  width: 40%;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 40px;
  transition: 0.3s;
}
div.proyecto p {
  display: none;
  text-align: center;
}
div.proyecto:hover {
  filter: grayscale(0.4);
}
div.proyecto:hover p {
  display: block;
}
/* Footer */
footer {
  background: var(--color-principal-oscuro);
  width: 100%;
  height: 200px;
  padding: 20px 0 0 0;
}
.footer__contenido {
  height: 80%;
}
.footer__derechos-de-autor {
  background: rgba(0, 0, 0, 0.644);
  color: var(--color-blanco);
  display: flex;
  font-size: 15px;
  height: 20%;
  align-items: center;
  justify-content: center;
}
.footer__contenido p {
  font-size: 25px;
  text-align: center;
  color: var(--color-blanco);
  font-family: var(--fuente-gruesa);
}
footer div a {
  display: flex;
  text-align: center;
  color: var(--color-blanco);
  align-items: flex-end;
  justify-content: center;
}
/*Responsive*/
@media (max-width: 768px) {
  div.img-hero img {
    width: 80%;
    height: 100%;
  }
}
@media (max-width: 425px) {
  div.header-esferica {
    height: 100px;
    border-radius: 0 0 30% 30%;
  }
  ul.header__links {
    gap: 1rem;
  }
  ul.header__links li a {
    font-size: 15px;
    width: 100px;
    height: 30px;
  }
  ul.header__links li a:hover {
    width: 110px;
    height: 35px;
    font-size: 20px;
  }
  .hero {
    height: 88vh;
  }
  .grid-hero {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "a a a a"
      "a a a a"
      "c c c c"
      "c c c c";
  }
  .hero-quien-eres {
    grid-area: a;
    margin-bottom: 30px;
  }
  .img-hero {
    position: relative;
    grid-area: c;
    top: 70px;
  }
  main {
    height: 132vh;
  }
  div.main__experiencia-text p {
    font-size: 35px;
    width: 300px;
    height: 100px;
  }
  .fila {
  }
  .habilidad {
    width: 100px;
    height: 100px;
  }
  .habilidades {
    justify-content: center;
  }
  .habilidad-fila-1 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
  }
  .grid-fila {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .fila-2 {
    margin-top: 120px;
  }
  div.proyecto {
    width: 100%;
    height: 24vh;
    margin-top: 40px;
  }
  .footer__derechos-de-autor {
    background: rgba(0, 0, 0, 0.644);
    color: var(--color-blanco);
    display: flex;
    font-size: 15px;
    height: 20%;
  }
}
